@import "../variables";

// h2.ui.header.skills_header
h3.ui.header.skills_header {
  margin: 5vh 5vw 5vh 5vw;
  font-family: $font_secondary_bold;
  color: $body_headline_color;
  font-size: 3rem;
  line-height: 1.15;

  @media #{$media_sm} {
    font-size: 3rem;
  }

  &:hover {
    transform: perspective(1px) scale(1.1) translateZ(0);
    .line {
      transform: perspective(3px) scale(1.7) translateZ(0);
    }
  }

  .dot {
    color: $body_main_element_color;
  }

  .line {
    width: 30vw;
    height: 2vh;
    z-index: -1;
    position: relative;
    top: -2vh;
    left: -2vw;
    background-color: $body_main_element_color;
  }
}

h4.ui.header {
  font-family: $font_primary;
  font-size: 1.3rem !important;
  padding: 0 1vw !important;
}

div.row h5.ui.header {
  font-family: $font_secondary;
  font-size: 1.4rem !important;
  text-transform: uppercase;
  margin-top: 2vh;
}

div.row p {
  font-family: $font_primary;
  font-size: 1rem !important;
  margin-top: 2vh;
}

div.ui.stackable.two.column.grid div.row div.column {
  padding: 0 1vw !important;

  &.stackable:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
    padding-right: 1vw;
  }
}

h5.ui.center.aligned.header.skills_hireme {
  padding-top: 3vh;
  font-size: 2rem;
}

a.skill_contactbutton {
  color: $body_background_color;
  font-family: $font_secondary_bold;
  text-align: center;
  vertical-align: middle;
  background-color: $body_headline_color;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.81rem;
  padding: 1.56rem 4.75rem;
	line-height: 1.23;
	transition: all .3s ease;

  &:hover {
		//transform: perspective(1px) scale(1.1) translateZ(0);
		transition: all .3s ease;
		padding: 2rem 6rem;
		color: $body_main_element_color;
  }
}

div.skill_contactbtnspacer {
  padding: 3rem;
	text-align: center !important;
}
