@import "../variables";

h2.ui.header.about_header {
  margin: 3vh 0vw 3vh 8vw;
  font-family: $font_secondary_bold;
  color: $body_headline_color;
  font-size: 10rem;
  text-align: left;

  @media #{$media_sm} {
    font-size: 5rem;
  }

  &:hover {
    transform: perspective(1px) scale(1.1) translateX(5vh);
    .line {
      transform: perspective(3px) scale(1.5);
    }
  }

  .dot {
    color: $body_main_element_color;
  }

  .line {
    width: 20vw;
    height: 4vh;
    z-index: -1;
    position: relative;
    top: -12vh;
    left: 2%;
    background-color: $body_main_element_color;
    @media #{$media_sm} {
      top: -4vh;
      width: 20vw;
      height: 2vh;
    }
  }
}

.h_about_clone {
  font-family: $font_secondary_bold;
  color: $body_text_clone_color;
  position: absolute;
  z-index: -5;
  line-height: 77%;
  font-size: 12vw;
  left: 15vw;
  top: 20vh;

  // @media #{$media_xxl} {
  //   font-size: 29.411764705882355vw;
  // }

  @media #{$media_sm} {
    right: 4rem;
    bottom: 0rem;
    font-size: 13rem;
  }
}

.ui.header.about_subtitle {
  font-size: 2rem;
  font-family: $font_primary;
}

.ui.header.about_name {
  font-size: 4rem;
  font-family: $font_secondary_bold;
}

.ui.header.about_description_header {
  font-size: 2.1rem;
  font-family: $font_secondary_bold;
  text-transform: capitalize;
}
div.column div p.about_description_p {
  font-size: 1rem !important;
  margin: 0.5vh 0;
}

span.about_span {
  font-size: 1.1rem;
  font-family: $font_secondary_bold;
  text-transform: capitalize;
}

div.five.wide.column div p{
  margin: .5vh 0;
}

div p.about_info_p {
  margin: 0.5vh 0;
  font-size: 1rem !important;
}

h3.ui.header.about_subsection_title {
  font-size: 1.7rem;
  font-family: $font_secondary_bold;
  text-transform: capitalize;
}

h3.ui.header.about_softwares_headers {
  font-size: 1.3rem;
  font-family: $font_primary;
  text-transform: capitalize;
  margin: 1vh 0 0 0 ;
}
