@import "fonts";

//paths
$img: "../image/";
$fonts: "../fonts/";

$lora: "Lora-Regular", sans-serif;
$lora_b: "Lora-Bold", sans-serif;
$ubuntu: "Ubuntu-Regular", sans-serif;
$ubuntu_b: "Ubuntu-Bold", sans-serif;

$font_primary: $lora;
$font_primary_bold: $lora_b;
$font_secondary: $ubuntu;
$font_secondary_bold: $ubuntu_b;

//@red            : #B03060;
/* semantic ui colors
@orange         : #FE9A76;
@yellow         : #FFD700;
@olive          : #32CD32;
@green          : #016936;
@teal           : #008080;
@blue           : #0E6EB8;
@violet         : #EE82EE;
@purple         : #B413EC;
@pink           : #FF1493;
@brown          : #A52A2A;
@grey           : #A0A0A0;
@black          : #000000;
*/

// Body
$body_text_primary_color: #747474;
$body_text_secondary_color: #afafaf;
$body_headline_color: #2b2b2b;
$body_links_color: #2b2b2b;
$body_links_hover_color: #2b2b2b;
$body_background_color: #ffffff;

$body_main_element_color: #ffb03a;
$body_text_clone_color: #f8f8f8;


// Gallery
$gallery_item_background_color: rgba(44, 44, 44, 0.96);

// media
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$media_xxl: "(min-width: 1920px)";
$media_xl: "(max-width: 1700px)"; //large monitor
$media_lg: "(max-width: 1199px)"; //small monitor
$media_md: "(max-width: 991px)"; //tablet
$media_sm: "(max-width: 767px)"; //mobilr
