@import "fonts";

//paths
$img: "../image/";
$fonts: "../fonts/";

$lora: "Lora-Regular", sans-serif;
$lora_b: "Lora-Bold", sans-serif;
$ubuntu: "Ubuntu-Regular", sans-serif;
$ubuntu_b: "Ubuntu-Bold", sans-serif;

$font_primary: $lora;
$font_primary_bold: $lora_b;
$font_secondary: $ubuntu;
$font_secondary_bold: $ubuntu_b;

$font_menu_primary: $ubuntu_b;

$f_size_df: 0.88rem; // 14px
$f_size_lg: 1rem; // 16px

// Body
$body_text_primary_color: #747474;
$body_text_secondary_color: #747474;
$body_headline_color: #2b2b2b;
$body_links_color: #2b2b2b;
$body_links_hover_color: #2b2b2b;
$body_background_color: #ffffff;

$body_main_element_color: #9ee8eb;
$body_text_clone_color: #fbfbfb;
$body_date_color: #2b2b2b;
$body_mark_background: #fcf8e3;
$body_border_color: #f3f3f3;

// Menu primary
$menu_primary_links_color: #c5c5c5;
$menu_primary_links_hover_color: #2b2b2b;
$menu_primary_links_active_color: #2b2b2b;
$menu_primary_links_element_color: #fed9ca;

// Menu secondary
$menu_secondary_links_color: #2b2b2b;
$menu_secondary_links_hover_color: #2b2b2b;
$menu_secondary_links_active_color: #747474;

// Forms
$input_text_color: #747474;
$input_border_focus_color: #2b2b2b;

// Form primary
$input_background_primary_color: #f8f8f8;
$input_border_primary_color: transparent;

// Form secondary
$input_background_secondary_color: transparent;
$input_border_secondary_color: #cacaca;

// Gallery
$gallery_filter_button_color: #747474;
$gallery_filter_button_hover_color: #2b2b2b;
$gallery_filter_button_active_color: #2b2b2b;

$gallery_item_text_color: #ffffff;
$gallery_item_background_color: rgba(44, 44, 44, 0.96);

// Modal
$modal_background_color: #ffffff;
$modal_background_content_color: transparent;

// Card
$card_border_color: #e1e1e1;
$card_background_color: transparent;

// Widget
$widget_background_color: #ffffff;
$widget_border_color: #cacaca;
$widget_element_color: #2b2b2b;

// media
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$media_xxl: "(min-width: 1920px)";
$media_xl: "(max-width: 1700px)"; //large monitor
$media_lg: "(max-width: 1199px)"; //small monitor
$media_md: "(max-width: 991px)"; //tablet
$media_sm: "(max-width: 767px)"; //mobilr
