@import "variables";

html {
  -webkit-overflow-scrolling: touch;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @media #{$media_xl} {
    font-size: 14px;
  }

  @media #{$media_sm} {
    font-size: 12px;
  }
}

body {
  font-size: 16px;
  min-width: 320px;
  transition: all 0.3s ease;


  @media #{$media_xl} {
    font-size: 14px;
  }

  @media #{$media_sm} {
    font-size: 12px;
  }
}

h1, h2, h3, p, div, img {
	transition: all 0.3s ease;
}

::selection {
  background: $body_main_element_color;
}
