@import "../variables";

.overlay > div{
	background-color: white;
}

.ui.grid.page_header_main{
	padding: 3vh 0vh 1vh 1vh;
}

.ui.icon.button.mobile_menu{
	padding: 5px;
	background: none;
	margin: 0;
	font-size: 3rem;
	min-height: auto;
}


html body div#root div.pushable div.ui.grid.overlay.right.wide.visible.sidebar.sidebar_back div.row div.column.sidebar_column{
	padding: 4vh;
}

.vertical > a, div, div.ui.borderless.fluid.vertical.menu a.link.item{
	font-family: $font_secondary_bold;
	color: $menu_primary_links_hover_color;
}

//Menu colors for normal nav
div.ui.borderless.pointing.secondary.five.item.menu a.link.item, div.ui.borderless.pointing.secondary.five.item.menu div.item, div.ui.dropdown.link.item div.divider.text{
	font-family: $font_secondary;
	font-size: 1.2rem;
	color: $menu_primary_links_hover_color;
}

div.row:nth-child(3) > div{
	font-family: $font_primary;
	font-size: 1.2rem;
	color: $body_headline_color;
	padding: 2vh 0;
}

div.row:nth-child(3) > div:nth-child(3){
	color: $body_text_secondary_color;
	font-size: .8rem;
}
